---
import Layout from "@/layouts/LoginLayout.astro";
import Input from "@/components/Input.tsx";
---

<Layout
  title="Olvidó su contraseña"
  subtitle="Vamos a reiniciar su contraseña "
>
  <div class="flex flex-col w-5/6 gap-5 lgn:w-5/6 mt-7">
    <form class="flex flex-col gap-5">
      <Input
        id="email"
        title="Correo"
        formType="email"
        placeHolderLG="Ingrese su correo"
        placeHolderSM="Correo"
        logo="/email.svg"
        client:only="react"
      />
      <a href="/" class="text-zinc-500">Volver al login</a>

      <a
        id="submit-button"
        class="flex items-center justify-center w-full py-1 text-lg text-white transition duration-300 ease-in-out rounded-lg bg-primary-dark hover:bg-primary-light group"
      >
        <label
          class="transition duration-300 ease-in-out group-hover:transform group-hover:scale-110"
          >Enviar</label
        >
        <img
          src="/arrow-right.svg"
          alt="arrow-right"
          class="ml-2 transition duration-300 ease-in-out group-hover:transform group-hover:translate-x-1 group-hover:scale-110"
        />
      </a>
    </form>
  </div>
  <h2 class="mt-6">
    No tienes cuenta? <a href="/register" class="text-primary-light"
      >Regístrate</a
    >
  </h2>
</Layout>
<script>
  import * as AuthServices from "../services/authService.ts";
  // redirect function
  const button = document.getElementById("submit-button");
  if (button) {
    button.addEventListener("click", async () => {
      const email = document.getElementById("email") as HTMLInputElement;
      const response = await AuthServices.resetPassword(email.value);
      if (response) {
        alert("Se ha enviado un correo para restablecer su contraseña");
        window.location.href = "/validate-email-" + email.value;
      } else {
        alert("No se ha podido enviar el correo");
      }
    });
  }
</script>
