---
import Layout from "@/layouts/LoginLayout.astro";
import Input from "@/components/Input.tsx";

const { email } = Astro.params;
---

<Layout title="Nueva contraseña" subtitle="Cree una nueva contraseña">
  <div class="flex flex-col w-5/6 gap-5 lgn:w-5/6 mt-7">
    <form autocomplete="off" class="flex flex-col gap-5">
      <span id="email" class="w-full text-center -mt-4 italic text-lg"
        >{email}</span
      >
      <Input
        id="password"
        title="Nueva contraseña"
        formType="password"
        placeHolderLG="Ingrese su nueva contraseña"
        placeHolderSM="Nueva contraseña"
        logo="/password.svg"
        client:only="react"
      />
      <Input
        id="confirm-password"
        title="Confirmar contraseña"
        formType="password"
        placeHolderLG="Confirme su nueva contraseña"
        placeHolderSM="Confirmar contraseña"
        logo="/password.svg"
        client:only="react"
      />
      <a
        id="submit-button"
        class="flex items-center justify-center w-full py-1 text-lg text-white transition duration-300 ease-in-out rounded-lg bg-primary-dark hover:bg-primary-light group"
      >
        <label
          class="transition duration-300 ease-in-out group-hover:transform group-hover:scale-110"
          >Validar</label
        >
        <img
          src="/arrow-right.svg"
          alt="arrow-right"
          class="ml-2 transition duration-300 ease-in-out group-hover:transform group-hover:translate-x-1 group-hover:scale-110"
        />
      </a>
    </form>
  </div>
</Layout>
<script>
  import * as AuthServices from "../services/authService.ts";

  const email = (document.getElementById("email") as HTMLElement).innerText;
  console.log(email);
  const token = localStorage.getItem("token");
  if (!token) {
    window.location.href = "/";
  } else {
    const res = await AuthServices.validateToken(email, token);
    if (!res) {
      window.location.href = "/";
    }
  }

  // redirect function
  const button = document.getElementById("submit-button");
  if (button) {
    button.addEventListener("click", async () => {
      const password = (document.getElementById("password") as HTMLInputElement)
        .value;
      const confirmPassword = (
        document.getElementById("confirm-password") as HTMLInputElement
      ).value;

      if (password === confirmPassword) {
        const res = await AuthServices.changePassword(email, password);
        if (!res) {
          window.alert("Ha ocurrido un error, por favor intente de nuevo");
          return;
        }
        localStorage.removeItem("token");
        window.alert("Contraseña cambiada con éxito");
        window.location.href = "/";
      } else {
        alert("Las contraseñas no coinciden");
      }
    });
  }
</script>
