---
import RegisterLayout from "@/layouts/RegisterLayout.astro";

// register successfull
---

<RegisterLayout
  title="Registro Exitoso"
  subtitle="Su cuenta fue registrada exitosamente, puede cerrar esta pestaña"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
  </div></RegisterLayout
>
